body {
    font-family: InterSkyeng,Open Sans,Arial,sans-serif;
    font-size: 20px;
    background: #84add6;
    text-align: center;
}

.main_box {
    background: white;
    display: inline-block;
    min-width: 30%;
    margin: 3em;
    text-align: left;

    padding: 2em;
    border-radius: 0.5em
}
h2 {
    margin: 0;
}

p, hr {
    margin: 1em 0 0 0;
}

.persanl_icon{
    width: 200px;
    height: 200px;
    float: left;
    margin: 1em 1em 0 0;
    border-radius: 0.3em

}




